<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
    <title>Ticket Tracker Application</title>
    <div class = "container">
        <h3>Ticket Tracker Application
        <form action="/src/main/resources/templates/list-Tickets.html" method="get">
            <button type="submit">Tickets</button>
        </form>
        <form action="/src/main/resources/templates/showFormForAdd.html" method="get">
            <button type="submit">New Ticket</button>
        </form>
        </h3>
    </div>
</head>
<body>
    
    
</body>
</html>